@media screen and (min-width: 700px) {

    #hamburger-menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li {
        margin: 0;
    }

    .navigation {
        flex-direction: row;
    }

    .filtered-temples {
        max-width: 1400px;
        padding: 40px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}