@media screen and (min-width: 700px) {

    #hamburger-menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    nav li {
        margin: 0;
    }

    .navigation {
        flex-direction: row;
    }

    .filtered-temples {
        max-width: 1400px;
        padding: 40px 20px;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        gap: 20px;
    }
}