@media screen and (min-width: 700px) {

    #hamburger-menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .navigation {
        flex-direction: row;
    }

    main {
        max-width: 1000px;
        padding: 40px 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
    }
}